:root {
  --colore-principale: #0b0c2a;
  --colore-secondario: #fa0000;
  --colore-terziario: #f8f4f0;
  --bianco: #fbf8f8;
  --nero: #0e0e0e;

}




.sez-1 {
  padding: 7rem 0;
  color: rgb(255, 255, 255);
  background: #040F21;
  background: linear-gradient(90deg, rgba(4, 15, 33, 0) 0%, rgba(4, 15, 33, 0.97) 60%);
  backdrop-filter: blur(6px);

  position: relative;
  z-index: 1;
  min-height: 90vh;


}




.bg-img {
  background-image: url(../media/codice_sfondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}





body {

  min-height: 100vh;
}

.animation-section {
  position: relative;
  height: 500px;
  /* overflow: hidden; */
}

.box {
  position: absolute;


  display: flex;
  align-items: center;
  justify-content: center;

}

.box1 {

  top: 0;
  left: 0;
  animation: moveBox1 3s ease-in-out forwards;
}

.box2 {

  bottom: 0;
  right: 0;
  animation: moveBox2 3s ease-in-out forwards;
}

@keyframes moveBox1 {
  from {
    left: 0;
    top: 0;
  }

  to {
    left: calc(100% - 440px);
    top: calc(100% - 260px);
  }
}

@keyframes moveBox2 {
  from {
    right: 0;
    bottom: 0;
  }

  to {
    right: calc(100% - 440px);
    bottom: calc(100% - 260px);
  }
}

.img-animazione {
  height: 16rem;
  border-radius: 6px;
  border: solid 2px var(--bianco);
}

.img-1 {
  box-shadow:
    0 0 5px var(--colore-secondario),
    0 0 20px var(--colore-secondario),

    inset 0 0 10px var(--colore-secondario);
}

.img-2 {
  box-shadow:
    0 0 5px #0000ff,
    0 0 20px #0000ff,

    inset 0 0 10px var(--colore-secondario);
}

.sez-2 {
  color: white;
  background-image: url(../media/bg-portfolio-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.sez-2-gradient {
  backdrop-filter: blur(5px);
  background: #FF0000;
  background: linear-gradient(265deg, rgba(29, 0, 0, 0.85) 0%, rgba(0, 0, 33, 0.85) 100%);
}

.cont-sez-2 {
  border-top: solid 3px #ff0000;
  padding: 5rem 0;
}

.card {
  background-color: #0000ff;
}

.img-card {
  width: 100%;
}

.cont-perspective {
  perspective: 1000px;
}

.card-progetti {
  border: solid 2px #ffffff;
  padding: 0;
  padding-bottom: 0.7rem;
  border-radius: 8px;
  overflow: hidden;
  background-color: #040F21;

  transition: transform 0.5s ease;
  transform-origin: center bottom;
}

.card-progetti:hover {
  transform: rotateX(-4deg) translateZ(25px);
}

@media (max-width: 600px) {
  .img-animazione {
    height: 10rem;
  }

  @keyframes moveBox1 {
    from {
      left: 0;
      top: 0;
    }

    to {
      left: calc(100% - 290px);
      top: calc(100% - 260px);
    }
  }

  @keyframes moveBox2 {
    from {
      right: 0;
      bottom: 0;
    }

    to {
      right: calc(100% - 290px);
      bottom: calc(100% - 250px);
    }
  }
}

.cont-title {
  padding-bottom: 3rem;
}

.svg-tech {
  height: 2.5rem;
}

.cont-sez-3 {
  padding: 8rem 0;
  border-top: solid 3px #0000ff;

}

.sez-3 {
  background: #000F21;
  background: linear-gradient(30deg, rgba(255, 0, 0, 0.15) 0%, rgba(0, 15, 33, 0.24)100%); 
}

.card-progetti a {
  text-decoration: none;
  color: white;
}